@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono.woff2") format("woff2-variations");
  font-weight: 100 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMonoItalic.woff2") format("woff2-variations");
  font-weight: 100 700;
  font-display: swap;
  font-style: italic;
}

@import "tailwindcss";

/* * {
  outline: 0.5px solid red;
} */

@theme {
  --font-figtree: "Figtree";
  --font-roboto: "Roboto Mono";

  --animate-noise: noiseKeyframes 1s steps(10) infinite;
  @keyframes noiseKeyframes {
    100% {
      background-position: -100% 100%;
    }
  }

  --animate-glow: glowKeyframes 4s ease-in-out infinite alternate none running;
  @keyframes glowKeyframes {
    0% {
      filter: drop-shadow(0 0 120px rgb(189 10 10 / 0.9));
    }
    100% {
      filter: drop-shadow(0 0 10px rgb(50 49 56 / 0.1));
    }
    0% {
      filter: drop-shadow(0 0 120px rgb(189 10 10 / 0.9));
    }
    100% {
      filter: drop-shadow(0 0 10px rgb(50 49 56 / 0.1));
    }
  }

  --animate-nameAnimation: nameAnimationKeyframes 10s linear infinite;
  @keyframes nameAnimationKeyframes {
    100% {
      background-position: 2000px 0;
    }
  }

  --animate-marquee: marqueeKeyframes 70s linear 0s infinite normal none running;
  @keyframes marqueeKeyframes {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  --animate-customPing: pingKeyframes 4s cubic-bezier(0, 0, 0.2, 1) 3s infinite
    normal none running;
  @keyframes pingKeyframes {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

body {
  background-color: #333;
}

.strokeClass {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f2f2f2;
}

.strokeClass2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}
